@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background: #282a36;
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 30px;
}

header div{
    text-align: center;
}

header div a{
    color: white;
    text-decoration: none;
    margin: 30px;
}

header div a:hover{
    color: rgb(98, 0, 255);
    transition: 300ms;
}